*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin: 0;
}
.row .card{
    margin: 100px 50px;
}
.navbar-nav{
    font-size: 0.8rem;
}
.navbar-nav li{
    margin: 0 30px;
}
.marginMenu{
    margin-right: 100px;
}
