@font-face {
    font-family: 'lato';
    src: url('./estilos/fontFamilyIrCulturapp/Lato/Lato-Black.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-BlackItalic.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-Bold.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-BoldItalic.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-Italic.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-Light.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-LightItalic.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-Regular.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-Thin.ttf'),
        url('./estilos/fontFamilyIrCulturapp/Lato/Lato-ThinItalic.ttf'),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    position: relative;
    background-color: #FFF4DE;
    font-family: "lato" !important;
    font-weight: 1.5rem !important;
}

.row {
    margin: 0;
}

.row .card {
    margin: 100px 50px;
}

/*Inicio clases del nav*/
nav {
    background-color: #F9DBAA;
    
}

.navbar {
    padding: 0 5px 0 0;
}

.navbar-nav {
    font-size: 0.8rem;
    
}

.navbar-nav li {
    margin: 0 15px;
    cursor: pointer;
    
}

.navbar-nav li a{
    color: #7A3E48 !important;
    
}

.marginLogo {
    margin-right: 50px;
    margin-left: 30px;
    padding-bottom: 0px;
}

.marginBotonCollapse {
    margin-right: 5px;
}

/*Fin clases del nav*/


/* Clases del carrusel */
.marginCarrusel {
    margin-top: 100px;
}

.carousel-item img {
    width: 100%;
    max-width: 100%;
}

.view video {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .carousel-item img {
        width: 60%;
        height: 510px;
        margin: 0 auto;
    }

    .view video {
        height: 510px;
    }

    .marginLogo {
        margin-right: 350px;
        margin-left: 100px;
    }

    .logoFooter {
        margin: 1px 20px;
        max-width: 100%;
    }


}

/*Formulario de registro*/
.registro {
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.registroForm {
    width: 300px;
    z-index: 3000;
    position: absolute;
    background-color: #3D3342;
    border-radius: 10px;
    padding: 20px;
    color: rgb(202, 136, 49);
    top: -500px;
    transition: top 1s ease;

}

/*Fin del Formulario de registro*/
/* Estilos de las cards */
.card {
    box-shadow: 5px 5px 20px;
    cursor: pointer;
}

/* Fin de los Estilos de las cards */
/* Card mapa */

.card-body a {
    text-decoration: none;
    color: black;
}

/* Fin card mapa */

/*Clases centros culturales*/
h2 {
    text-align: center;
    margin-bottom: 50px;
}

/*Fin de las clases de centros culturales*/

/*Estilos del modal de los centros culturales*/

/* Final de los estilos del modal de los centros culturales */
/* Footer */
footer {
    background-color: #3D3342;
    color: #E9E1CD;
}

footer a {
    color: #E9E1CD;
}

.logoFilarmonicaBogota img {
    max-width: 100%;
}

.infoFooter {
    text-align: center;
}

.logoFooter {
    width: 80px;
    background-color: #E9E1CD;
    border-radius: 30px;
    margin: 0 20px;
}

/* Final del Footer */