*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.row{
    margin: 0;
}
.row .card{
    margin: 100px 50px;
}
.navbar{
    padding: 0 5px 0 0;
}
.navbar-nav{
    font-size: 0.8rem;
}
.navbar-nav li{
    margin: 0 30px;
}
.marginLogo{
    margin-right: 50px;
    margin-left: 30px;
    padding-bottom: 0px;
}
.marginBotonCollapse{
    margin-right: 5px;
}
/* Clases del carrusel */
.marginCarrusel{
    margin-top: 100px;
}

/*Formulario de registro*/
.registro{
    /* position: relative; */
    display: flex;
    justify-content: center;
}
.registroForm{
    width: 300px;
    z-index: 3000;
    position: absolute;
    background-color: rgba(137, 43, 226, 0.664);
    border-radius: 10px;
    padding:20px;
    color: rgb(202, 136, 49);
    top: -500px;
    transition: top 1s ease;
   
}
/*Fin del Formulario de registro*/

/* Footer */
footer{
    background-color: darkmagenta;
}
.logoFilarmonicaBogota img{
    
}


/* Final del Footer */
